openapi: 3.0.1
info:
  title: Connections API
  description: API to manage data source connections
  license:
    name: MIT
  version: 1.0.0
servers:
  - url: "http://api.structuredlabs.com"
security:
  - bearerAuth: []
paths:
  /connections:
    post:
      summary: Connect to google sheets
      description: Connects to a specified data source.
      requestBody:
        description: The details required to connect to the data source.
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                # {
                #   userId: string;
                #   connectionType: string;
                #   workspaceId: string;
                #   metadata: {
                #     gsheetsUrl: string;
                #   };
                # }
                userId:
                  type: string
                  description: The unique identifier of the user.
                connectionType:
                  type: string
                  description: The type of connection to establish, GoogleSheets
                workspaceId:
                  type: string
                  description: The unique identifier of the workspace.
                metadata:
                  type: object
                  properties:
                    gsheetsUrl:
                      type: string
                      description: The URL of the Google Sheets document to connect to.
      responses:
        "200":
          description: Successfully connected to the data source.
          content:
            application/json:
              schema:
                # Connection array
                type: object
                properties:
                  # connections array
                  connections:
                    type: array
                    items:
                      $ref: "#/components/schemas/Connection"
        "400":
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    get:
      summary: View data from a connection
      description: Retrieves the data rows from a specified connection. This endpoint provides a snapshot of the current data within the connection based on the latest sync.
      parameters:
        - name: connectionId
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successfully retrieved data from the connection.
          content:
            application/json:
              schema:
                type: object
                properties:
                  connectionId:
                    type: string
                    description: The unique identifier for the connection whose data is being accessed.
                  data:
                    type: array
                    description: Array of data rows from the connection.
                    items:
                      type: object
                      additionalProperties: true
                      description: Key-value pairs representing column names and their corresponding values.
                  success:
                    type: boolean
                    description: Indicates if the data retrieval was successful.

    delete:
      summary: Delete data connections
      description: |
        Deletes data connections. This action is irreversible and should be
        used with caution to avoid unintentional data loss.
      parameters:
      # {
        - name: connectionId
          in: query
          required: true
          schema:
            type: string
        - name: userId
          in: query
          required: true
          schema:
            type: string
        - name: workspaceId
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successfully deleted the data connection(s).
          content:
            application/json:
              schema:
                type: object
                properties:
                  connection_idconnectionId:
                    type: string
                    description: The unique identifier for the established connection.
                    example: abc123
                  success:
                    type: boolean
                    description: Indicates if the deletion was successful.

  /connections/refresh:
    post:
      summary: Refresh a Connection
      description: Refreshes an existing connection to ensure data is up-to-date.
      requestBody:
        description: The details required to refresh the connection.
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                userId:
                  type: string
                  description: The unique identifier of the user.
                connectionId:
                  type: string
                  description: The unique identifier of the connection to refresh.
                workspaceId:
                  type: string
                  description: The unique identifier of the workspace.
      responses:
        "200":
          description: Connection refresh response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  # array of connections
                  connections:
                    type: array
                    items:
                      $ref: "#/components/schemas/Connection"
                  success:
                    type: boolean
                    description: Indicates if the refresh was successful.
                  message:
                    type: string
                    description: A message detailing the outcome of the refresh operation.

  /connections/source/bigquery:
    post:
      summary: Connect to BigQuery
      description: Connects to a specified BigQuery data source.
      requestBody:
      # userId: string;
      # workspaceId: string;
      # conn: BigQueryConnectionFormInputs;
        description: The details required to connect to the BigQuery data source.
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                userId:
                  type: string
                  description: The unique identifier of the user.
                workspaceId:
                  type: string
                  description: The unique identifier of the workspace.
                conn:
                  type: object
                  properties:
                    type:
                      type: string
                      description: The type of connection to establish, BigQuery
                    project_id:
                      type: string
                      description: The project ID of the BigQuery project.
                    private_key_id:
                      type: string
                      description: The private key ID for the BigQuery project.
                    private_key:
                      type: string
                      description: The private key for the BigQuery project.
                    client_email:
                      type: string
                      description: The client email for the BigQuery project.
                    client_id:
                      type: string
                      description: The client ID for the BigQuery project.
                    auth_uri:
                      type: string
                      description: The authentication URI for the BigQuery project.
                    token_uri:
                      type: string
                      description: The token URI for the BigQuery project.
                    auth_provider_x509_cert_url:
                      type: string
                      description: The authentication provider x509 certificate URL for the BigQuery project.
                    client_x509_cert_url:
                      type: string
                      description: The client x509 certificate URL for the BigQuery project.
                    universe_domain:
                      type: string
                      description: The universe domain for the BigQuery project.
                    dataset:
                      type: string
                      description: The dataset to connect to in the BigQuery project.
      responses:
        "200":
          description: Successfully connected to the BigQuery data source.
          content:
            application/json:
              schema:
                type: object
                properties:
                  connections:
                    type: array
                    items:
                      $ref: "#/components/schemas/Connection"


  /connections/source/csv:
    post:
      summary: Connect to CSV
      description: Connects to a specified CSV data source.
      requestBody:
        description: The details required to connect to the CSV data source.
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: The CSV file to upload.
                userId:
                  type: string
                  description: The unique identifier of the user.
                workspaceId:
                  type: string
                  description: The unique identifier of the workspace.
      responses:
        "200":
          description: Successfully connected to the BigQuery data source.
          content:
            application/json:
              schema:
                type: object
                properties:
                  connection:
                    type: object
                    $ref: "#/components/schemas/Connection"

  /connections/source/firestore:
    post:
      summary: Connect to Firestore
      description: Connects to a Firestore collection
      requestBody:
      # userId: string;
      # workspaceId: string;
      # conn: BigQueryConnectionFormInputs;
        description: The details required to connect to the BigQuery data source.
        required: true
        content:
          application/json:
            schema:
            # userId
            # workspaceId
            # conn
              type: object
              properties:
                userId:
                  type: string
                  description: The unique identifier of the user.
                workspaceId:
                  type: string
                  description: The unique identifier of the workspace.
                conn:
                  type: object
                  properties:
                    type:
                      type: string
                      description: The type of connection to establish, Firestore
                    project_id:
                      type: string
                      description: The project ID of the Firestore project.
                    private_key_id:
                      type: string
                      description: The private key ID for the Firestore project.
                    private_key:
                      type: string
                      description: The private key for the Firestore project.
                    client_email:
                      type: string
                      description: The client email for the Firestore project.
                    client_id:
                      type: string
                      description: The client ID for the Firestore project.
                    auth_uri:
                      type: string
                      description: The authentication URI for the Firestore project.
                    token_uri:
                      type: string
                      description: The token URI for the Firestore project.
                    auth_provider_x509_cert_url:
                      type: string
                      description: The authentication provider x509 certificate URL for the Firestore project.
                    client_x509_cert_url:
                      type: string
                      description: The client x509 certificate URL for the Firestore project.
                    universe_domain:
                      type: string
                      description: The universe domain for the Firestore project.
                    firestore_database_name:
                      type: string
                      description: The Firestore database name.
                    firestore_collection_name:
                      type: string
                      description: The Firestore collection name.
      responses:
        "200":
          description: Successfully connected to the Firestore data source.
          content:
            application/json:
              schema:
                type: object
                properties:
                  connection:
                    type: object
                    $ref: "#/components/schemas/Connection"

  /connections/source/postgres:
    post:
      summary: Connect to Postgres
      description: Connects to a Postgres database
      requestBody:
        description: The details required to connect to the Postgres data source.
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                userId:
                  type: string
                  description: The unique identifier of the user.
                workspaceId:
                  type: string
                  description: The unique identifier of the workspace.
                conn:
                  type: object
                  # {
                  #   hostName: string;
                  #   port: number;
                  #   databaseName: string;
                  #   userName: string;
                  #   password: string;
                  #   tableName: string;
                  # }
                  properties:
                    hostName:
                      type: string
                      description: The hostname of the Postgres database.
                    port:
                      type: integer
                      description: The port number of the Postgres database.
                    databaseName:
                      type: string
                      description: The name of the Postgres database.
                    userName:
                      type: string
                      description: The username to connect to the Postgres database.
                    password:
                      type: string
                      description: The password to connect to the Postgres database.
                    tableName:
                      type: string
                      description: The name of the table to connect to in the Postgres database.
      responses:
        "200":
          description: Successfully connected to the Postgres data source.
          content:
            application/json:
              schema:
                type: object
                properties:
                  connection:
                    type: object
                    $ref: "#/components/schemas/Connection"

  /connections/source/xlsx:
    post:
      summary: Connect to XLSX
      description: Connects to a specified XLSX data source.
      requestBody:
        description: The details required to connect to the XLSX data source.
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: The XLSX file to upload.
                userId:
                  type: string
                  description: The unique identifier of the user.
                workspaceId:
                  type: string
                  description: The unique identifier of the workspace.
      responses:
        "200":
          description: Successfully connected to the BigQuery data source.
          content:
            application/json:
              schema:
                type: object
                properties:
                  connections:
                    type: array
                    items:
                      $ref: "#/components/schemas/Connection"

  /connections/metadata:
    get:
      summary: Retrieve metadata about connections
      description: Get connection metadata. This can either be metadata about a specific connection, including details such as who created it, when it was connected, and the connection schema.
      parameters:
        - name: connectionId
          in: query
          required: false
          schema:
            type: string
        - name: userId
          in: query
          required: true
          schema:
            type: string
        - name: workspaceId
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successfully retrieved metadata about the connection(s).
          content:
            application/json:
              schema:
                type: object
                properties:
                  connections:
                    type: array
                    items:
                      $ref: "#/components/schemas/Connection"

components:
  schemas:
    Error:
      required:
        - error
        - message
      type: object
      properties:
        error:
          type: integer
          format: int32
        message:
          type: string
    Connection:
      type: object
      properties:
        source:
          type: string
          description: The source of the connection.
        connectionId:
          type: string
          description: The unique identifier for the connection.
        connectionName:
          type: string
          description: The name of the connection.
        connectionType:
          type: string
          description: The type of connection.
        userId:
          type: string
          description: The unique identifier of the user.
        workspaceId:
          type: string
          description: The unique identifier of the workspace.
        dateAdded:
          type: string
          description: The date when the connection was added.
        state:
          type: string
          description: The state of the connection.
        datasetId:
          type: string
          description: The unique identifier of the dataset.
        tableIds:
          type: array
          items:
            type: string
          description: Array of unique identifiers for tables.
        metadata:
          type: object
          description: Additional metadata for the connection.
        schema:
          type: array
          items:
            type: object
          description: Array of objects representing the schema of the connection.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
