openapi: 3.0.1
info:
  title: Dashboards API
  description: API for managing dashboards.
  version: 1.0.0
servers:
  - url: 'http://api.structuredlabs.com'
security:
  - bearerAuth: []
paths:
  /dashboards:
    post:
      summary: Create a New Dashboard
      description: >-
        Creates a new dashboard with metadata about the creator and the creation
        time.
      operationId: createDashboard
      requestBody:
        description: Details required to create a new dashboard.
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                widgets:
                  type: array
                  items:
                    type: object
                    properties:
                      widget_id:
                        type: string
                      type:
                        type: string
                        enum:
                          - chart
                          - table
                          - text
                      position:
                        type: object
                        properties:
                          x:
                            type: integer
                          y:
                            type: integer
                      size:
                        type: object
                        properties:
                          width:
                            type: integer
                          height:
                            type: integer
                creator:
                  type: string
      responses:
        '200':
          description: Successfully created a new dashboard.
          content:
            application/json:
              schema:
                type: object
                properties:
                  dashboard_id:
                    type: string
                  status:
                    type: string
                    enum:
                      - created
                  message:
                    type: string
                  created_at:
                    type: string
    get:
      summary: Retrieve All Dashboards
      description: 'Retrieves all dashboards created by the user, including metadata.'
      operationId: viewAllDashboards
      responses:
        '200':
          description: Successfully retrieved all dashboards.
          content:
            application/json:
              schema:
                type: object
                properties:
                  dashboards:
                    type: array
                    items:
                      type: object
                      properties:
                        dashboard_id:
                          type: string
                        title:
                          type: string
                        created_at:
                          type: string
                        last_modified:
                          type: string
                        creator:
                          type: string
                        collaborators:
                          type: array
                          items:
                            type: string
    put:
      summary: Edit a Dashboard
      description: >-
        Edits an existing dashboard, including the ability to add or remove
        collaborators.
      operationId: editDashboard
      parameters:
        - name: dashboard_id
          in: query
          required: true
          schema:
            type: string
      requestBody:
        description: Details required to edit the dashboard.
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                widgets:
                  type: array
                  items:
                    type: object
                    properties:
                      widget_id:
                        type: string
                      position:
                        type: object
                        properties:
                          x:
                            type: integer
                          y:
                            type: integer
                      size:
                        type: object
                        properties:
                          width:
                            type: integer
                          height:
                            type: integer
                collaborators:
                  type: array
                  items:
                    type: string
      responses:
        '200':
          description: Successfully edited the dashboard.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - updated
                  message:
                    type: string
    delete:
      summary: Delete a Specific Dashboard
      description: >-
        Deletes a specific dashboard. Provides a confirmation of who deleted the
        dashboard.
      operationId: deleteDashboard
      parameters:
        - name: dashboard_id
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successfully deleted the dashboard.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - deleted
                  message:
                    type: string
                  deleted_by:
                    type: string
  /dashboards/refresh:
    post:
      summary: Refresh Dashboard Data
      description: Manually refreshes the data in a dashboard.
      operationId: refreshDashboard
      parameters:
        - name: dashboard_id
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successfully refreshed dashboard data.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - refreshed
                  message:
                    type: string
  /dashboards/embed:
    get:
      summary: Get Embed Code for a Dashboard
      description: Provides an embed code for a dashboard to be used in other applications.
      operationId: embedDashboard
      parameters:
        - name: dashboard_id
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successfully retrieved embed code for the dashboard.
          content:
            application/json:
              schema:
                type: object
                properties:
                  embed_code:
                    type: string
                  status:
                    type: string
                    enum:
                      - success
 
  /dashboards/metadata:
    get:
      summary: Retrieve Detailed Metadata about a Specific Dashboard
      description: Retrieves detailed metadata about a specific dashboard.
      operationId: getDashboardMetadata
      parameters:
        - name: dashboard_id
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successfully retrieved detailed metadata about the dashboard.
          content:
            application/json:
              schema:
                type: object
                properties:
                  dashboard_id:
                    type: string
                  title:
                    type: string
                  created_at:
                    type: string
                  last_modified:
                    type: string
                  creator:
                    type: string
                  collaborators:
                    type: array
                    items:
                      type: string
                  widgets:
                    type: array
                    items:
                      type: object
                      properties:
                        widget_id:
                          type: string
                        type:
                          type: string
                          enum:
                            - chart
                            - table
                            - text
                        position:
                          type: object
                          properties:
                            x:
                              type: integer
                            y:
                              type: integer
                        size:
                          type: object
                          properties:
                            width:
                              type: integer
                            height:
                              type: integer
components:
  schemas:
    Error:
      required:
        - error
        - message
      type: object
      properties:
        error:
          type: integer
          format: int32
        message:
          type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
