openapi: 3.0.1
info:
  title: 'Entities API'
  description: 'API for managing entity data and relationships'
  version: '1.0.0'
servers:
  - url: 'http://api.structuredlabs.com'
security:
  - bearerAuth: []
paths:
  /entities/relationships:
    get:
      summary: 'Get Entity Relationships'
      description: 'Retrieves a visualization of entity relationships.'
      operationId: 'getEntityRelationships'
      responses:
        '200':
          description: 'Successfully retrieved entity relationships visualization.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  entities:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        name:
                          type: string
                        relationships:
                          type: array
                          items:
                            type: object
                            properties:
                              target_id:
                                type: string
                              type:
                                type: string
                                enum: [one_to_one, one_to_many, many_to_many]

  /entities/{entity_id}/units:
    get:
      summary: 'List Entity Instances'
      description: 'Lists all instances of a specific entity.'
      operationId: 'listEntityInstances'
      parameters:
        - name: entity_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'Successfully listed all instances of the entity type.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  entity_id:
                    type: string
                  instances:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        data:
                          type: object

  /entities/{entity_id}/schema:
    get:
      summary: 'Get Entity Schema'
      description: 'Provides the schema for a specific entity type.'
      operationId: 'getEntitySchema'
      parameters:
        - name: entity_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'Successfully retrieved schema for the entity instance.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  entity_id:
                    type: string
                  schema:
                    type: object
                    properties:
                      fields:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                            type:
                              type: string
                            source:
                              type: string

  /entities/{entity_type_id}/schema:
    get:
      summary: 'Get Entity Type Schema'
      description: 'Provides the schema for a specific entity type, detailing the structure and data types of its fields.'
      operationId: 'getEntityTypeSchema'
      parameters:
        - name: entity_type_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'Successfully retrieved schema for the entity type.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  entity_type_id:
                    type: string
                  schema:
                    type: object
                    properties:
                      fields:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                            type:
                              type: string
                            source:
                              type: string
                  status:
                    type: string
                    enum: [success, error]
                  message:
                    type: string

  /entities/{entity_type_id}:
    get:
      summary: 'View Entity Type'
      description: 'Retrieves detailed information about a specific entity type, including its schema and other relevant metadata.'
      operationId: 'viewEntityType'
      parameters:
        - name: entity_type_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'Successfully retrieved information about the entity type.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  entity_type_id:
                    type: string
                  entity_type_info:
                    type: object
                    properties:
                      name:
                        type: string
                      description:
                        type: string
                      created_by:
                        type: string
                      created_at:
                        type: string
                      last_updated_at:
                        type: string
                  status:
                    type: string
                    enum: [success, error]
                  message:
                    type: string

  /entities/{entity_type_id}/units/{unit_id}/audit_log:
    get:
      summary: 'Entity Unit Audit Log'
      description: 'Retrieves an audit log of all state changes for a specific unit of an entity type, documenting each change along with timestamps and user details.'
      operationId: 'getUnitAuditLog'
      parameters:
        - name: entity_type_id
          in: path
          required: true
          schema:
            type: string
        - name: unit_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'Successfully retrieved audit log for the entity unit.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  entity_type_id:
                    type: string
                  unit_id:
                    type: string
                  audit_log:
                    type: array
                    items:
                      type: object
                      properties:
                        timestamp:
                          type: string
                        action:
                          type: string
                        user_id:
                          type: string
                        changes:
                          type: object
                          additionalProperties:
                            type: object
                            properties:
                              old_value:
                                type: string
                              new_value:
                                type: string
                  status:
                    type: string
                    enum: [success, error]
                  message:
                    type: string

components:
  schemas:
    Error:
      required:
        - error
        - message
      type: object
      properties:
        error:
          type: integer
          format: int32
        message:
          type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
