openapi: 3.0.1
info:
  title: 'Queries API'
  description: 'API for managing queries and query threads.'
  version: '1.0.0'
servers:
  - url: 'http://api.structuredlabs.com'
security:
  - bearerAuth: []
paths:
  /queries:
    post:
      summary: 'Create a New Query Thread'
      description: 'Initiates a new query thread.'
      operationId: 'createQueryThread'
      requestBody:
        description: 'Details of the query to initialize.'
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                query:
                  type: string
                  description: 'The text of the query to execute.'
                input_type:
                  type: string
                  enum: [natural_language, sql]
                  description: 'The type of the input, either natural language or SQL.'
      responses:
        '200':
          description: 'Successfully created a new query thread.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  thread_id:
                    type: string
                    description: 'The unique identifier for the new query thread.'
                  status:
                    type: string
                    enum: [created, error]
                  message:
                    type: string

  /queries/{thread_id}/execute:
    post:
      summary: 'Execute a Query within a Thread'
      description: 'Executes a specified query within the context of a query thread.'
      operationId: 'executeQuery'
      parameters:
        - name: thread_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        description: 'The query details to execute.'
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                query:
                  type: string
                  description: 'The text of the query to execute.'
                mentions:
                  type: array
                  items:
                    type: string
                  description: 'Optional mentions of specific data sources or entities to focus the query.'
                bookmark:
                  type: boolean
                  description: 'Whether to bookmark this query within the thread.'
      responses:
        '200':
          description: 'Successfully executed the query within the thread.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    type: object
                    properties:
                      summary:
                        type: string
                      chart:
                        type: string
                      data_table:
                        type: string
                      preview:
                        type: string
                  status:
                    type: string
                    enum: [completed, error]
                  message:
                    type: string

  /queries/{thread_id}/suggestions:
    get:
      summary: 'Get Suggested Queries'
      description: 'Retrieves suggested queries based on the context of the specified thread.'
      operationId: 'getQuerySuggestions'
      parameters:
        - name: thread_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'Successfully retrieved suggested queries.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  suggestions:
                    type: array
                    items:
                      type: object
                      properties:
                        query:
                          type: string
                        description:
                          type: string

  /queries/summaries/{source_id}:
    get:
      summary: 'Get a Dataset Summary'
      description: 'Provides a summary of the dataset associated with the specified source ID.'
      operationId: 'getDatasetSummary'
      parameters:
        - name: source_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'Successfully retrieved dataset summary.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  summary:
                    type: string

  /queries/{thread_id}/export:
    get:
      summary: 'Export Query Results'
      description: 'Exports the results of a query thread to various formats.'
      operationId: 'exportQueryResults'
      parameters:
        - name: thread_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'Successfully exported query results.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  download_url:
                    type: string
                  embed_code:
                    type: string

  /queries/{thread_id}:
    delete:
      summary: 'Delete a Query Thread'
      description: 'Deletes the entire query thread identified by the thread ID.'
      operationId: 'deleteQueryThread'
      parameters:
        - name: thread_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'Successfully deleted the query thread.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [deleted, error]
                  message:
                    type: string

  /queries/{thread_id}/{query_id}:
    delete:
      summary: 'Remove a Specific Query from a Thread'
      description: 'Deletes a specific query identified by query ID within a given thread.'
      operationId: 'deleteQueryFromThread'
      parameters:
        - name: thread_id
          in: path
          required: true
          schema:
            type: string
        - name: query_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'Successfully removed the specific query from the thread.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [deleted, error]
                  message:
                    type: string

  /queries/{thread_id}/metadata:
    get:
      summary: 'Get Metadata about a Query Thread'
      description: 'Retrieves metadata about a specific query thread, including details about its creation and associated queries.'
      operationId: 'getQueryThreadMetadata'
      parameters:
        - name: thread_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'Successfully retrieved metadata about the query thread.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  thread_id:
                    type: string
                  created_by:
                    type: string
                  created_at:
                    type: string
                  last_executed:
                    type: string
                  query_count:
                    type: integer
                  status:
                    type: string
                    enum: [active, completed, error]
                  queries:
                    type: array
                    items:
                      type: object
                      properties:
                        query_id:
                          type: string
                        status:
                          type: string
                          enum: [success, running, failed]
                        execution_time:
                          type: integer

  /queries/{thread_id}/{query_id}/metadata:
    get:
      summary: 'Get Metadata for an Individual Query'
      description: 'Provides detailed metadata for a specific query within a thread, including execution details and timing.'
      operationId: 'getQueryMetadata'
      parameters:
        - name: thread_id
          in: path
          required: true
          schema:
            type: string
        - name: query_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'Successfully retrieved metadata for the individual query.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  query_id:
                    type: string
                  created_by:
                    type: string
                  executed_by:
                    type: string
                  created_at:
                    type: string
                  executed_at:
                    type: string
                  execution_time:
                    type: integer
                  result_count:
                    type: integer
                  status:
                    type: string
                    enum: [success, failed]
                  error_details:
                    type: string

  /queries/{thread_id}/queries:
    get:
      summary: 'List All Queries in a Thread'
      description: 'Lists all queries associated with a specific thread, including brief metadata for each query.'
      operationId: 'listQueriesInThread'
      parameters:
        - name: thread_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'Successfully listed all queries in the thread.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  thread_id:
                    type: string
                  queries:
                    type: array
                    items:
                      type: object
                      properties:
                        query_id:
                          type: string
                        created_at:
                          type: string
                        executed_at:
                          type: string
                        status:
                          type: string
                          enum: [pending, success, failed]
                        execution_time:
                          type: integer

components:
  schemas:
    Error:
      required:
        - error
        - message
      type: object
      properties:
        error:
          type: integer
          format: int32
        message:
          type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
